body{
    background-color: #e5d7fc;
}
#hsec{
    color: blueviolet;
    text-align: center;
    padding: 5px;
    background-color: #d2bdfc;
}
#hsec h1{
    font-family: sans-serif;
}
#formsec{
    color: #ece1fa;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 30px;
    text-align: center;
    width: 450px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
#formsec h3{
    color: #ece1fa;
    border: 2px solid #ece1fa;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    padding: 5px;
}
a{
    color: blueviolet;
    text-decoration: none;
    padding: 4px;
    background-color: #ece1fa;
    border: 2px solid blueviolet;
    border-radius: 5px;
    transition-duration: .3s;
}
#formsec input{
    border-radius: 3px;
}
/*This is the role styling in both pages*/
#rolest{
    color: blueviolet;
    padding: 10px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #ece1fa;
}
#butt{
    color: blueviolet;
    padding: 4px;
    background-color: #ece1fa;
    border: 2px solid blueviolet;
    border-radius: 5px;
    transition-duration: .3s;
}
#butt:hover{
    color: #ece1fa;
    background-color: blueviolet;
    border: 2px solid #ece1fa;
    border-radius: 5px;
}
a:hover{
    color: #ece1fa;
    background-color: blueviolet;
    border: 2px solid #ece1fa;
    border-radius: 5px;
}